/* CSS Variables */
:root {
    --light-0: #f8f9fa;
    --light-1: #e9ecef;
    --light-2: #dee2e6;
    --dark-0: #495057;
    --dark-1: #343a40;
    --dark-2: #212529;
    --green: #c3c82c;
    --blue: #2939ff;
}

/* Light Mode ☀ */
body {
    background: var(--light-0);
    display: grid;
    height: 100vh;
    margin: 0;
    place-items: center;
    transition: background 0.3s ease;
}

input {
    position: absolute;
}

label {
    align-items: center;
    background: var(--light-2);
    background: url('https://i.ibb.co/ZWmbGbj/etmfdr.gif');
    background-position: bottom;
    background-size: cover;
    border-radius: 35px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    cursor: pointer;
    display: flex;
    height: 60px;
    position: relative;
    width: 110px;
}
label .sun-moon {
    background: radial-gradient(var(--green), transparent);
    border-radius: 50%;
    height: 30px;
    margin: 4px;
    transition: transform 0.3s ease;
    width: 30px;
}

/* Dark Mode 🌝 */
body.dark {
    background: var(--dark-2);
}

#toggle-button:checked + label {
    background: var(--dark-0);
    background: url('https://i.pinimg.com/originals/94/ff/74/94ff7463a1574221ba6d4ada2c997e0b.gif');
    background-position: center;
    background-size: cover;
}
#toggle-button:checked + label .sun-moon {
    background: radial-gradient(var(--blue), transparent);
    transform: translateX(72px);
}

